/*Menu*/

.menu_ul{
    float: left;
}

#menu {
    width:100%;
    line-height: 0;
    text-align: center;
    background: #11c1c1;
    transition: 0.200s linear;
}

#menu .menu_conteudo{
    display: inline-block;
}

#menu ul {
    margin:0 auto;
    text-align: left;
    padding: 0 100px;
}

#menu ul li {
    float:left;
    display:table;
    _display:inline-block;
    *display:inline-block;
    line-height:26px;
}

#menu ul li ul {
    display:none;
    width:auto;
    position:absolute;
    border-sizing: border-box;
    z-index:9999;
    background: #fff;
    border: 3px solid #11c1c1;
    padding: 0;
}

#menu ul li ul li {
    float:left;
    line-height:normal;
    width:160px;
    position:relative;
    display:block;
    clear:both;
}

#menu ul li ul li a {
    color: #11c1c1;
    padding: 5px;
    text-transform: none;
    border: 0;
    transition: 0.100s linear;
}

#menu ul li ul li a:hover {
    background: #11c1c1;
    color: #fff;
    padding: 5px;
}

#menu ul li:hover ul, #menu ul li.over ul {
    display:block;
}

#menu ul li:hover{
    background: #fff;
}

#menu ul li:hover a{ 
color: #11c1c1;
}

#menu ul li a {
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    line-height: 32px;
    display:block;
    padding: 5px 15px;
    font-size: 13px;
    font-family: Arial;
    border-left: 1px solid #fff;
    text-transform: uppercase;
    transition: 0.100s linear;
}

#menu ul li:first-child a{
    border-left: 0;
}

#menu ul li a:hover {
    background:#fff;
    color: #11c1c1;
}