.three-col li {
    width: 33.3% !important;
}

.four-col li {
    width: 24.9% !important;
}

.five-col li {
    width: 19.9% !important;
}

.six-col li {
    width: 16.6% !important;
}

.seven-col li {
    width: 14.2% !important;
}

.eight-col li {
    width: 12.4% !important;
}

.nine-col li {
    width: 11.1% !important;
}

.ten-col li {
    width: 9.9% !important;
}