.storeHeader {position: relative; bottom: 5px;  font-size: 0.9em; text-transform: uppercase; color: #FFF; text-align: center; background: url(../imagens/storeHeaderRightBg.gif) no-repeat right top;}
.storeHeader strong {background: url(../imagens/storeHeaderLeftBg.gif) no-repeat 0 bottom; padding: 18px 3px; display: block; color:#fff;}
.storeHeader a {background: url(../imagens/storeHeaderLeftBg.gif) no-repeat 0 bottom; padding: 18px 3px; display: block; color:#fff;}





