.pedido_dados{
  float: left;
  margin-left: 15px;
}

.pedido_dados p{
  color:#585858;
  display: block;
  font-size: 12px;
  text-align: left;
  margin: 3px 0;
}

.pedido_dados p.boleto{
  color: #464646;
  font-size: 13px;
}

.pedido_dados p.status{
  font-size: 13px;;
  color: #444;
}

.pedido_dados p.status img{
  margin: 0;
  vertical-align: middle;
}

.pedido_dados img{
  margin: 5px 0;
}


.tab_carrinho .subtotal th, .tab_carrinho .cupom th, .tab_carrinho .total th, .tab_carrinho .frete th{
  text-align: right;
  font-size: 12px;;
  background: #fff;
}

.tab_carrinho th{
  text-align: center;
  font-size: 12px;
  color: #262626;
  font-weight: normal;
  padding: 0 5px;
  white-space: nowrap;
}

.tab_carrinho .item_carrinho td{
  padding: 10px 5px;
  font-size: 13px;
}

.tab_carrinho td{
  text-align: center;
  font-size: 12px;
  padding-left: 6px;
}

.tab_carrinho {
    margin: 0 auto;
    width: 945px;
}

.tab_carrinho tr{
  color: #000;
}

.tab_carrinho a{
  color: #585858;
  text-decoration: none;
}

.tab_carrinho a:hover{
  text-decoration: underline;
}


.tab_carrinho thead th {
    border-bottom: 1px solid #e9e9e9;
    color: #575757;
    font-size: 12px;
    font-weight: normal;
    line-height: 27px;
    padding: 0 5px;
    text-align: center;
    white-space: nowrap;
}

.tab_carrinho .frete{
  text-align: left;
  padding: 5px;
  color: #000;
  font-size: 12px;
  line-height: 150%;
}

.tab_carrinho th.frete_valor{
  color:#000;
  text-align: right;
}

.tab_carrinho td.frete_valor{
  color:#000;
  white-space: nowrap;
  padding: 0 10px;
  line-height: 25px;
}

.tab_carrinho th.cupom{
  color: #000;
  text-align: right;
}

.tab_carrinho td.cupom{
  color:#000;
  white-space: nowrap;
  padding: 0 10px;
  line-height: 25px;
}

.tab_carrinho th.total{
    color: #526afa;
    font-family: "Lato-Bold";
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
    text-align: right;
    text-transform: uppercase;
}

.tab_carrinho td.total{
    color: #526afa;
    font-family: "Lato-Bold";
    font-size: 20px;
    line-height: 40px;
    padding: 0 15px;
    white-space: nowrap;
}

h2.confira{
    color:#062A59;
    font-size: 17px;
    margin: 0 0 20px 0;   
}

.bt_esquerda{
    text-align: left;
}

.bt_esquerda a{
    margin: 5px 0px;
}

.depts_filho{
    display: none;
}


.bt_voltar a {
    background: url("../imagens/bt_voltar.png") no-repeat scroll left top transparent;
    display: block;
    float: right;
    height: 34px;
    margin: 10px 0;
    text-indent: -9999px;
    width: 104px;
}