.tit_box_listapronta{
    margin: 5px 0;
    text-align: left;
    position: relative;
    height: auto;
}

.tit_box_listapronta h2{
    font-family: bellotabold;
    background: none;
    color: #ee937c;
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: normal;
}

.tit_box_listapronta h2 small{
    font-size:24px;
}

.tit_box_listapronta span{
    color: #3C3C3C;
    display: block;
    font-size: 13px;
    margin: 2px 0 39px;
}

/* Produtos Listas */

#conteudo-listas{
  float: right;
  width: 740px;
}


#conteudo-listas span.subtitulo-produto{
    color: #3C3C3C;
    font-size: 13px;
    text-align: left;
}

#conteudo-listas .produto-listas{
  padding: 10px 0;
}

#conteudo-listas .produto-listas .nome-produto{
    font-family: bellotabold;
    background: none repeat scroll 0 0 #FAC4B7;
    color: #4c1e25;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 2px;
    text-align: center;
}

#conteudo-listas .produto-listas .produto-esquerda{
display: none;
  width: 350px;
  float: left;  
}

#conteudo-listas .produto-listas .produto-esquerda .foto-principal{
  height: 350px;
  background: #fff;
}

#conteudo-listas .produto-listas .produto-esquerda .foto-descricao{
  font-size: 1.1em;
  color: #575757;
  padding: 15px 0 30px;
}

#conteudo-listas .produto-listas .produto-esquerda .produto-compartilhar{
  clear: both;
  position: relative;
  padding: 4px 0;
}

#conteudo-listas .produto-listas .produto-esquerda .produto-compartilhar .compartilhar-seta{
  background: url('../imagens/sprite_listas.png') no-repeat -600px 0 transparent;
  text-indent: -9999px;
  width: 22px;
  height: 26px;
  display: block;
  position: absolute;
  top: -10px;
  left: -30px;
}

#conteudo-listas .produto-listas .produto-esquerda .produto-compartilhar .compartilhar-coracao{
  background: url('../imagens/sprite_listas.png') no-repeat -500px -100px transparent;
  text-indent: -9999px;
  width: 21px;
  height: 20px;
  display: block;
  margin: 2px 5px 0 0;
  float: left;
}

#conteudo-listas .produto-listas .produto-esquerda .produto-compartilhar .compartilhar{
  padding-top: 5px;
  float: left;
  color: #041d31;
  font-size: 1.3em;
  font-family: 'Mongolian Baiti',Georgia;
  font-style: italic;
}

#conteudo-listas .produto-listas .produto-direita{
    float: left;
    width: 773px;
    /*width: 379px;*/
}

#conteudo-listas .produto-listas .produto-direita .comprar-lista{
  display: block;
  float: right;
  overflow: hidden;
}

.comprar-lista-baixo{
  display: block;
  float: right;
  overflow: hidden;
  border-top: 1px dashed #F2C9BE;
  margin-top: 40px;
  clear: both;
  padding-top: 5px;
  width: 100%;
}

.comprar-lista-baixo a.comprar-lista-completa{
    display: block;
    float: right;
    margin: 10px 0;
}

#conteudo-listas .produto-listas .produto-direita .tit-produtos-lista{
  clear: both;
  padding: 5px 0 4px;
}

#conteudo-listas .produto-listas .produto-direita .tit-produtos-lista h2{
    background: url('../imagens/bullet_produtos_lista.png') no-repeat right center transparent;
    border-bottom: 1px dashed #f2c9be;
    color: #F2775A;
    font-size: 15px;
    font-weight: normal;
    padding: 5px 0;
    position: relative;
} 

#conteudo-listas .produto-listas .produto-direita .tit-produtos-lista h2 span{
  width: 16px;
  height: 10px;
  display: block;
  position: absolute;
  right: 3px;
  top: 10px;
  text-indent: -9999px;
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos{
  clear: both;
  overflow: hidden;
  padding: 20px 0 10px;
  border-bottom: 1px dashed #F2C9BE;
  position: relative;
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos:last-child{
  border-bottom: 0 none;
}

#conteudo-listas .produto-listas .produto-direita .excluir-produto-lista{
  display: block;
  position: absolute;
  right: 0;
  top: 7px;
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos .produtos-foto{
  float: left;
  position: relative;
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos .produtos-foto img{
  float: left;
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos .produtos-foto a{
    display: block;
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos .produtos-foto span.lupa{
  background: url('../imagens/sprite_listas.png') no-repeat -1101px 0 transparent;
  width: 17px;
  height: 20px;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 25px;
  text-indent: -9999px; 
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos .produtos-descricao{
  float: right;
  margin-left: 5px;
    width: 667px;
 /* width: 275px;*/
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos .produtos-descricao .produtos-titulo h3 a{
  font-size: 12px;
  color: #4c1e25;
  font-weight: normal;
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos .produtos-descricao .produtos-titulo span a{
    color: #A0766B;
    display: block;
    font-size: 11px;
    height: 24px;
    line-height: 13px;
    margin-top: 5px;
    overflow: hidden;
}

#conteudo-listas .produto-listas .produto-direita .lista-de-produtos .produtos-descricao .produtos-titulo span a.saiba-mais{
    color: #F2775A;
    display: inline;
    height: auto;
    margin: 0;
    padding: 0;    
}

.produtos-variante{
  clear: both;
  margin-top: 15px;
  position: relative; 
}

.produtos-variante .variante-esq{
  width: 165px;
  float: left;
}

.produtos-variante .variante-esq select{
  width: 145px;
  padding: 2px;
  font-size: 1.1em;
  color: #797979;
  border: 1px solid #b0b0b0;
}

.produtos-variante .variante-dir{
  width: 84px;
  float: right;
}

.produtos-variante .variante-dir span{
    color: #4C1E25;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: 2px 0;
    padding-left: 6px;
    text-align: left;
}

.produtos-variante .variante-dir input{
  width: 15px !important;
  padding: 2px 4px;
  font-size: 1.1em;
  color: #797979;
  border: 1px solid #b0b0b0;
  margin-left: 5px;
  text-align: center;
  float: left;
}

.produtos-variante .variante-dir .variante-atualizar{
  background: url('../imagens/btn_atualizar.png') no-repeat 0 0 transparent;
  width: 20px;
  height: 18px;
  display: block;
  text-indent: -9999px;
  float: right; 
  cursor: pointer;
}

.produtos-preco{
  clear: both;
  overflow: hidden;
  width: auto;
  *width: 145px;
  float: right;
  margin-top: 10px;
}

.produtos-preco .produto-preco-de{
    color: #a0766b;
    text-decoration: line-through;
    float: left;
    margin-top: 6px;
    text-align: left;
}

.produtos-preco .produto-preco-de span.preco-de{
  font-size: 11px;
  color: #a0766b;
}

.produtos-preco .produto-preco-por{
font-family: bellotabold;
  float: left;
  margin-left: 10px;
}

.produtos-preco .produto-preco-por .preco-por{
    color: #F2775A;
    font-size: 14px;
    text-transform: capitalize;
}

.produtos-preco .produto-preco-por .preco-preco{
  color: #f2775a;
  font-size: 17px;
}

.redes_sociais iframe{
    width: 90px !important;
}